[submodule "vaultwares_agentciation"]
	path = vaultwares_agentciation
	url = https://github.com/p-potvin/vaultwares-agentciation
[submodule "vault-themes"]
	path = vault-themes
	url = https://github.com/p-potvin/vault-themes
[submodule "cosmos-reason2"]
	path = cosmos-reason2
	url = https://github.com/nvidia-cosmos/cosmos-reason2
[submodule "cosmos-transfer2.5"]
	path = cosmos-transfer2.5
	url = https://github.com/nvidia-cosmos/cosmos-transfer2.5
